# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules
.git

#source
contracts/
lib/
build/

# testing
coverage
flats
coverage.json
.nyc_output
test
.solcover.js

#utils
scripts
tools
truffle.js
truffle-config.js
migrations
migration_utils

# misc
.DS_Store
.env
npm-debug.log
.babelrc
.commitlintrc.js
.cz-config.js
.editorconfig
.eslintignore
.eslintrc.json
.travis.yml
yarn.lock
README.md
obfuscator.json
docs